.DS_Store
node_modules
unpackage

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*
.env.development.local*

# Editor directories and files
.history
.idea
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
